<div class="p-5 pt-0">
    <form>

        <input id="search" type="search" placeholder="Search Employee" (input)="search(searchInput.value)" #searchInput
            class="m-4 bg-light">
        <span class="caret"></span>
    </form>
    <table class="table  table-dark text-light " *ngIf="employeesToDisplay && employeesToDisplay.length>0">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL ID</th>
                <th>PHONE NO. </th>
                <th>DESIGNATION</th>
                <th>SALARY</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeesToDisplay">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.designation}}</td>
                <td>{{employee.salary}}</td>
                <td><a [routerLink]="['/employees','edit',employee.id]">View</a></td>

            </tr>
        </tbody>
    </table>
    <h6 class=" text-light text-center" *ngIf="!employeesToDisplay || employeesToDisplay.length<=0">NO RECORD FOUND !!
    </h6>
</div>